<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  
</head>

  
<style>
.listbox{
    position: static;
    overflow-y: scroll;
    height: 200px;
    color: black;
    background-color: #EAF4F7;
/*     border: 2px solid black; */
/*     padding: 20px 50px 0px 30px; */
/*     font-size: 15px; */
    }
</style>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Zhen Wang / 王震
              </h1>
              <p>
                Hi! I am a PhD candidate at the <a href="https://cse.osu.edu/">Department of Computer Science and Engineering</a> of <a href="https://www.osu.edu/">The Ohio State University</a> advised by <a href="http://web.cse.ohio-state.edu/~sun.397/">Prof. Huan Sun</a>. 
              </p>
              <p>
                In summer 2021, I was a research intern at the NLP group in <a href="https://www.microsoft.com/en-us/research/lab/microsoft-research-redmond/">Microsoft Research, Redmond</a>, working with <a href="https://www.microsoft.com/en-us/research/people/jojic/">Nebojsa</a>, and <a>Kolya</a> from Mila. In summer 2020, I was a research intern at the data science team in <a href="https://www.nec-labs.com/research-departments/data-science-system-security/data-science-systems-research-home">NEC Laboratories, America</a> working with <a href="https://bzong.github.io/">Bo Zong</a>.
              </p>
              <p style="text-align:center">
                <a href="mailto:wang.9215@osu.edu">Email</a> &nbsp;/&nbsp;
                <a href="https://zhenwang9102.github.io/files/ZW_CV.pdf">CV</a> &nbsp;/&nbsp;
                <a href="https://github.com/zhenwang9102">GitHub</a> &nbsp;/&nbsp;
                <a href="https://twitter.com/zhenwang9102">Twitter</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=asBaytUAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/zhenwang9102/">LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/IMG_0023_S.png">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                My research interests lie in natural language processing, machine learning, and data mining. I'm interested in building up reliable AI powered by data-driven knowledge representation and advanced machine learning algorithms, involving reasoning and interpretability. 
              </p>
              <p>
                I discover new knowledge from unstructured data (text), structured data (graph) and model parameters (pre-trained language models). I also build natural language interfaces including dialogue and question answering systems with more transparency and generalizability. 
              </p>
              <p>
                I'm recently working on reasoning models over graphs, commonsense representation learning, constrained text generation and prompt-based zero-/few-shot learning.
              </p>
              <p>
                Free feel to reach out if you’d like to have a chat!
              </p>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
              <br>
              <div class="listbox">
                <ul>
                  <li>
                    02/2022: Our paper, <a href="https://arxiv.org/abs/2110.08294">Coherence boosting: When your pretrained language model is not paying enough attention</a> was accepted to <a href="https://www.2022.aclweb.org/">ACL 2022</a>!
                  </li>
                  <li>
                    02/2022: Our team TacoBot moved forward to semifinals of the <a href="https://www.amazon.science/alexa-prize/taskbot-challenge">Alexa Prize TaskBot challenge</a>! Try "<a href="https://www.amazon.science/blog/alexa-assist-me-is-now-live">Alexa, let's work together</a>" or "Alexa, assist me" in your Alexa devices or the app when you want to do a DIY or cooking task!
                  </li>
                  <li>
                    12/2021: Passed the PhD candidacy exam with the proposal, "Knowledge-centric Natural Language Processing: Acquisition, Representation, and Reasoning". Thanks to all my committee members.
                  </li>
                  <li>
                    05/2021: Our team was selected to participate in the <a href="https://www.amazon.science/alexa-prize/taskbot-challenge/2021" style="color:red">Alexa Prize TaskBot Challenge</a> as one of 10 teams over 125 applications initiated from 15 countries! Looking forward to building a smart dialogue system to guide users through complex, multi-step plans (e.g., Cooking and DIY tasks) via multimodal interactions.
                  </li>
                  <li>
                    05/2021: Started Research Intern at Microsoft Research! Excited to work with <a href="https://www.microsoft.com/en-us/research/people/jojic/">Nebojsa Jojic</a> and Kolya Malkin on Conditional Text Generation!
                  </li>
                  <li>
                    03/2021: Invited to serve as a PC member of EMNLP 2021.
                  </li>
                  <li>
                    03/2021: Attended WSDM 2021 virtually and present our work on <a href="https://dl.acm.org/doi/10.1145/3437963.3441744">modeling context pair interaction and learning graph pair emebddings</a>.
                  </li>
                  <li>
                    03/2021: Honored to win Graduate Student Research Poster Award (Top 5) for 2021 Annual Student Research Poster Exhibition in our CSE department.
                  </li>
                  <li>
                    02/2021: Panelist on the panel discussion in Department of Astronomy, "<a href="https://astronomy.osu.edu/events/monthly-movie-night-2001-space-odyssey-science-fiction-vs-science-fact">2001: A Space Odyssey - Science Fiction vs Science Fact</a>" discussing Artificial Intelligence, Life in Universe, Time & Relativity and Anthropology.
                  </li>
                  <li>
                    01/2021: Received SIGIR Student Travel Grant for WSDM 2021.
                  </li>
                  <li>
                    01/2021: Attended CDAC Rising Stars in Data Science Workshop with the agenda <a href="https://cdac.uchicago.edu/events/risingstars2021">here</a>.
                  </li>
                  <li>
                    12/2020: Honored to be selected to the <a href="https://cdac.uchicago.edu/rising-stars/#rising-stars-profiles" style="color:red">Rising Stars in Data Science</a> workshop hosted by the <a href="https://cdac.uchicago.edu/">Center for Data and Computing (CDAC) at the University of Chicago</a>.
                  </li>
                  <li> 
                    12/2020: Invited to serve as a PC member of ACL 2021.
                  </li>
                  <li> 
                    10/2020: Invited to serve as a PC member of NAACL 2021.
                  </li>
                  <li>
                    10/2020: Our paper, <a href="https://zhenwang9102.github.io/files/WSDM2021_ZW_ConPI.pdf">Modeling Context Pair Interaction for Pairwise Tasks on Graphs</a> was accepted to WSDM 2021 (<a style="color:red">Acceptance Rate: 18.6%</a>).
                  </li>
                  <li>
                    07/2020: Attended ACL 2020 virtually and presented our paper via QA sessions and pre-recorded video.
                  </li>
                  <li>
                    05/2020: Started Research Intern at <a href="http://www.nec-labs.com/">NEC Labs America</a>! Excited to work with <a href="https://bzong.github.io/">Dr. Bo Zong</a> on Commonsense Reasoning for NLU.
                  </li>
                  <li>
                    04/2020: Our paper, <a href="https://zhenwang9102.github.io/files/ACL2020_ZW_X_MedRELA.pdf">Rationalizing Medical Relation Prediction from Corpus-level Statistics</a> about building self-interpretable deep learning model for relation prediction was accepted by <a href="https://acl2020.org/"></a>ACL 2020 (<a style="color:red">Acceptance Rate: 22.7%</a>).
                  </li>
                  <li>
                    04/2020: Invited to serve as a PC member of NLPCC 2020.
                  </li>
                  <li>
                    09/2019: Our paper, <a href="https://academic.oup.com/bioinformatics/article/36/4/1241/5581350">Graph Embedding on Biomedical Networks: Methods, Applications, and Evaluations</a> was accepted by <a href="https://academic.oup.com/bioinformatics">Bioinformatics</a>.
                  </li>
                  <li>
                    08/2019: Attended KDD 2019 in Anchorage, Alaska and presented our work in an oral talk.
                  </li>
                  <li>
                    06/2019: Received SIGKDD Student Travel Award for KDD 2019.
                  </li>
                  <li>
                    04/2019: Our paper, <a href="https://zhenwang9102.github.io/files/KDD2019_ZW_SurfCon_paper.pdf">SurfCon: Synonym Discovery on Privacy-Aware Clinical Data</a> about knowledge extraction from text was accepted by <a href="https://www.kdd.org/kdd2019/">KDD 2019</a> (Research Track, <a style="color:red">Acceptance Rate: 14.2%</a>, Oral).
                  </li>
                  <li>
                    08/2018: 1 paper about <a href="http://web.cse.ohio-state.edu/~yao.470/paper/StaQC_DLDay18.pdf">Code Summarization</a> was accepted by KDD 2018, Deep Learning Day.
                  </li>
                  <li>
                    06/2018: Attended NAACL 2018 in New Orleans, LA.
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </table>
        

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Publications</h2>
            </td>
          </tr>
          
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>2022</h2>
            </td>
          </tr>

          <tr>
            <td style="padding:20px;width:25%;vertical-align:middle">
              <img src="/images/CB_ACL_2022.png" alt="CB-ACL22" style="width:160;height:160;border-style: none">
            </td>
            <td width="75%" valign="middle">
              <h3>Coherence boosting: When your pretrained language model is not paying enough attention</h3>
              <br>
              Nikolay Malkin, <b>Zhen Wang</b>, Nebojsa Jojic
              <br>
              <em><b>[ACL 2022]</b></em> <i>The 60th Annual Meeting of the Association for Computational Linguistics</i>
              <br>
              <a href="https://arxiv.org/pdf/2110.08294.pdf">PDF</a> / <a href="https://github.com/zhenwang9102/coherence-boosting">Code</a> 
<!--               <p>We study inference-time algorithms to boost GPT-3.</p> -->
            </td>          
          </tr>
          
          
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>2021</h2>
            </td>
          </tr>
          
          <tr>
<!--             <td style="padding:20px;width:25%;vertical-align:middle">
              <img src="images/xxx.png" alt="3DSP" width="160" height="140" style="border-style: none">
            </td> -->
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>Modeling Context Pair Interaction for Pairwise Tasks on Graphs</h3>
              <br>
              <b>Zhen Wang</b>, Bo Zong, Huan Sun
              <br>
              <em><b>[WSDM 2021]</b></em> <i>The 14th ACM International Conference on Web Search and Data Mining</i>
              <br>
              <a href="https://zhenwang9102.github.io/files/WSDM2021-ConPI-ZW-Slides.pdf">PDF</a> / <a href="https://github.com/zhenwang9102/ConPI">Code</a> 
<!--               <p>We study inference-time algorithms to boost GPT-3.</p> -->
            </td>          
          </tr>

          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>2020</h2>
            </td>
          </tr>

          <tr>
<!--             <td style="padding:20px;width:25%;vertical-align:middle">
              <img src="images/xxx.png" alt="3DSP" width="160" height="140" style="border-style: none">
            </td> -->
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>Rationalizing Medical Relation Prediction from Corpus-level Statistics</h3>
              <br>
              <b>Zhen Wang</b>, Jennifer Lee, Simon Lin, Huan Sun
              <br>
              <em><b>[ACL 2020]</b></em> <i>The 58th Annual Meeting of the Association for Computational Linguistics</i>
              <br>
              <a href="https://zhenwang9102.github.io/files/ACL2020_ZW_X_MedRELA.pdf">PDF</a> / <a href="https://github.com/zhenwang9102/X-MedRELA">Code</a> / <a href="https://zhenwang9102.github.io/files/ACL2020-X-MedRELA-ZW-Slides.pdf">Slides</a> / <a href="https://slideslive.com/38929313/rationalizing-medical-relation-prediction-from-corpuslevel-statistics">Video</a>
<!--               <p>We study inference-time algorithms to boost GPT-3.</p> -->
            </td>          
          </tr>

          <tr>
<!--             <td style="padding:20px;width:25%;vertical-align:middle">
              <img src="images/xxx.png" alt="3DSP" width="160" height="140" style="border-style: none">
            </td> -->
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>Graph Embedding on Biomedical Networks: Methods, Applications, and Evaluations</h3>
              <br>
              Xiang Yue, <b>Zhen Wang</b>, Jingong Huang, Srinivasan Parthasarathy, Soheil Moosavinasab, Yungui Huang, Simon Lin, Wen Zhang, Ping Zhang, Huan Sun
              <br>
              <em><b>[Bioinformatics]</b></em> <i>Volume 36, Issue 4, 15 February 2020, Pages 1241-1251</i>
              <br>
              <a href="https://academic.oup.com/bioinformatics/article/36/4/1241/5581350">PDF</a> / <a href="https://github.com/xiangyue9607/BioNEV">Code</a> 
<!--               <p>We study inference-time algorithms to boost GPT-3.</p> -->
            </td>          
          </tr>
          
          
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>2019</h2>
            </td>
          </tr>
          
          
          <tr>
<!--             <td style="padding:20px;width:25%;vertical-align:middle">
              <img src="images/xxx.png" alt="3DSP" width="160" height="140" style="border-style: none">
            </td> -->
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>SurfCon: Synonym Discovery on Privacy-Aware Clinical Data</h3>
              <br>
              <b>Zhen Wang</b>, Xiang Yue, Soheil Moosavinasab, Yungui Huang, Simon Lin, Huan Sun
              <br>
              <em><b>[KDD 2019]</b></em> <i>The 25th ACM SIGKDD Conference on Knowledge Discovery and Data Mining</i>
              <br>
              <a href="https://zhenwang9102.github.io/files/KDD2019_ZW_SurfCon_Slides.pdf">PDF</a> / <a href="https://github.com/zhenwang9102/SurfCon">Code</a> / <a href="https://zhenwang9102.github.io/files/KDD2019_ZW_SurfCon_Poster.pdf">Poster</a>
<!--               <p>We study inference-time algorithms to boost GPT-3.</p> -->
            </td>          
          </tr>
          
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Before 2019</h2>
            </td>
          </tr>

          <tr>
<!--             <td style="padding:20px;width:25%;vertical-align:middle">
              <img src="images/xxx.png" alt="3DSP" width="160" height="140" style="border-style: none">
            </td> -->
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>A Comprehensive Study of StaQC for Deep Code Summarization</h3>
              <br>
               Jayavardhan Reddy Peddamail, Ziyu Yao, Zhen Wang, Huan Sun
              <br>
              <em><b>[KDD 2018 Deep Learning Day]</b></em> <i>The 24th ACM SIGKDD Conference on Knowledge Discovery and Data Mining</i>
              <br>
              <a href="https://zhenwang9102.github.io/files/KDD2019_ZW_SurfCon_Slides.pdf">PDF</a>
<!--               <p>We study inference-time algorithms to boost GPT-3.</p> -->
            </td>          
          </tr>
          
          <tr>
<!--             <td style="padding:20px;width:25%;vertical-align:middle">
              <img src="images/xxx.png" alt="3DSP" width="160" height="140" style="border-style: none">
            </td> -->
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>Hessian Regularized Sparse Coding for Human Action Recognition</h3>
              <br>
              Weifeng Liu, Zhen Wang, Dapeng Tao, Jun Yu
              <br>
              <em><b>[MMM 2015]</b></em> <i>The 21th International Conference on Multimedia Modeling</i>
              <br>
              <a href="https://link.springer.com/chapter/10.1007/978-3-319-14442-9_55">PDF</a> /
              <a onclick="if (document.getElementById(&quot;UAC-GANs&quot;).style.display==&quot;none&quot;) document.getElementById(&quot;UAC-GANs&quot;).style.display=&quot;block&quot;; else document.getElementById(&quot;UAC-GANs&quot;).style.display=&quot;none&quot;;">Bibtex</a>
              <div class="BibtexExpand" id="UAC-GANs" style="display: none;">
                  <pre>@inproceedings{liu2015hessian,
                  title={Hessian regularized sparse coding for human action recognition},
                  author={Liu, Weifeng and Wang, Zhen and Tao, Dapeng and Yu, Jun},
                  booktitle={International Conference on Multimedia Modeling},
                  pages={502--511},
                  year={2015},
                  organization={Springer}
                  }
                  </pre>             
              </div>
              
<!--               <p>We study inference-time algorithms to boost GPT-3.</p> -->
            </td>          
          </tr>
          
          
        </table>
        

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Honors and Awards</h2>
              <ul>
                <li>
                  Graduate Student Research Poster Award (Top 5), CSE, OSU, 2021
                </li>
                <li>
                  SIGIR Student Travel Grant, 2021
                </li>
                <li>
                  <b>Rising Stars in Data Science</b>, Center for Data and Computing (CDAC), University of Chicago, 2020
                </li>
                <li>
                  SIGKDD Student Travel Award, 2019
                </li>
                <li>
                  <b>China Scholarship Council (CSC) Scholarship</b> for a fully funded half-year visiting program in Polytech Nice Sophia, Nice, France, 2015
                </li>
                <li>
                  <b>National Scholarship</b>, China, 2014
                </li>
                <li>
                  Soong Ching Ling Foundation (SCLF) Scholarship, China, 2013                  
                </li>
                <li>
                  National Scholarship for Encouragement, China, 2012
                </li>
              </ul>
            </td>
          </tr>
        </table>
        
         <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Services</h2>
              <ul>
                <b>Program Committee Member:</b>
                <ul>
                  <li>
                    ACL ARR (Oct. 2021, Nov. 2021, Jan. 2022)
                  </li>
                  <li>
                    <a href="https://suki-workshop.github.io/">SUKI 2022</a> Workshop at NAACL 2022
                  </li>
                  <li>
                    EMNLP 2021
                  </li>
                  <li>
                    ACL 2021
                  </li>
                  <li>
                    NAACL 2021
                  </li>
                  <li>
                    NLPCC (2020, 2021)
                  </li>
                </ul>
                <b>External Reviewer:</b>
                <ul>
                  <li>
                    KDD (2019, 2020), ACL 2018, ICDM 2018
                  </li>
                </ul>
              </ul>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <p style="text-align:center;">
              <a href="https://clustrmaps.com/site/1beb5"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=3ckIy3WQFut4Emdkpn-xSRLuODAvOXCYLy3z-r53Gcs&cl=ffffff" /></a>
              </p>
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron</a> and <a href="https://leonidk.com/">Leonid Keselman</a>.
              </p>
            </td>
          </tr>
        </table>
        
        
      </td>
    </tr>
  </table>
  
  
</body>
  

</html>
